<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Loose yourself to buzz</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">-->
  <link rel="stylesheet" href="/static/skeleton/css/normalize.css">
  <link rel="stylesheet" href="/static/skeleton/css/skeleton.css">
  <link rel="stylesheet" href="/static/css/easyquizz.css">
  <link rel="icon" type="image/png" href="/static/skeleton/images/favicon.png">
  <script src="/static/js/vendor/jquery-2.1.3.min.js"></script>
  <script src="/static/js/common.js"></script>
  <script src="/static/js/admin.js"></script>
    <script src="static/js/vendor/jquery-ui.js"></script>
    <script src="static/js/vendor/jquery.ui.touch-punch.min.js"></script>

</head>
<body class="admin">

<div class="container">
  <div class="row">
    <div class="columns three">
      <img src="/static/img/user.png" onclick="$('.add_team_form').toggle()">
      <img src="/static/img/calendar-blue.png" onclick="$('#sections').toggle()">
      <img src="/static/img/log.png" onclick="$('#log_window').toggle()">
    </div>
    <div class="columns nine">
      <div id="scores" class='scores-admin'>
        {% set team=None %}
        {% include "scores_admin.html" %}
      </div>
    </div>

  </div>
  <div >
    <form action="/game/add_team" method="post" id="team_form">
        <div class="row add_team_form">
          <div class="five columns">
            <input type="text" placeholder="Add New Team" name="team_name" id="new_team_name">
          </div>
          <div class="one columns">
            <input type='submit' class="button button-primary" value="Add">
          </div>
        </div>
    </form>
  <div id="team_composition">
      {% include "team_composition.html" %}
  </div>
  </div>

  

  <div class="row">

    <div class="columns six">
      <div id="sections">
          {% include "sections.html" %}
      </div>
    </div>

    <div class="columns six">

<h4>Controls</h4>


  <div class="row ">
    <div class='columns four control-button' onclick="je_dis_oui()">
      <center>
          <img src='/static/img/tick.png' >
      </center>
    </div>
    <div class='columns four control-button'  onclick="je_dis_non()">
      <center>
          <img src='/static/img/cross.png' >
      </center>
    </div>
    <div class='columns four control-button' onclick="next_slide()">
      <center>
          <img src='/static/img/next.png' >
      </center>
    </div>
  </div>
  <div class="row">
    <div class="columns twelve" id='current_answer'>
          <div class="resume" id="slides" >
            {%raw slide%}
          </div>
    </div>
  </div>

  <div class="row ">
    <!--<div class='columns one control-button' onclick="next_question()">
      <center>
          <img src='/static/img/next_question.png' ></br>next question
      </center>
    </div>-->
    <div class='columns three control-button' onclick="start_game()">
      <center>
          <img src='/static/img/start.png' ></br>start game
      </center>
    </div>
    <div class='columns three control-button' onclick="reset_buzzers()">
      <center>
          <img src='/static/img/reset.png' ></br>reset
      </center>
    </div>
    <div class='columns three control-button' onclick="activate_all_buzzers()">
      <center>
          <img src='/static/img/connect.png' ></br>all buzzers
      </center>
    </div>
    <div class='columns three control-button' onclick="deactivate_all_buzzers()">
      <center>
          <img src='/static/img/disconnect.png' ></br>all buzzers
      </center>
    </div>
  </div>
  </div>
  </div>

  <div id="log_window" class='log'>
  the log
  </div>
  </div>
    

</div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="/static/js/vendor/fastclick.js"></script>
<script type='text/javascript'>
var button = document.querySelector(".fastclick");
new FastClick(button);
</script>

</body>
</html>
