
@font-face {
    font-family: Raleway;
    src: url(/static/css/Raleway-SemiBold.ttf);
}

@font-face {
    font-family: Budmo;
    src: url(/static/css/budmo_jiggler.ttf);
}

@font-face {
    font-family: ScoreFont;
    src: url(/static/css/alarm_clock.ttf);
}

@font-face {
    font-family: MKAbel;
    src: url(/static/css/MKAbel.ttf);
}


body {
  color: #ddd; 
  background-color: #444;
  font-family: Raleway,Verdana;
}

body, html
{
	height:100vh;
	max-height:100vh;
}


body.screen
{
	background-color:#222;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#slide
{

}

#slides
{
	z-index:4;
	position:relative;
}
.controls
{
	padding: 5px;
	background-color: black;
}




.control-button
{
	border-radius: 4px;
	background:#555;t
	padding:0px;
	cursor:pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;
}

#current_player
{
	left:50%;
	margin-left:-50vw;
	top:50%;
	margin-top:-50vw;
	

	background-color: rgba(0,0,0,0.9);
	position:absolute;
	text-align: center;
	width:100vw;
	height:100vh;
	line-height:100vh;
	font-size:20vh;
	z-index:1000;
	text-shadow: 0px 5px 5px #0040A6;
}


#current_answer
{
	margin-top:10px;
	margin-bottom:10px;
	padding:10px;
	min-height:200px;
	background-color: #555;

}

.answer
{
	color:yellow;
}


#scores
{
	z-index:5;
	position:relative;
}

.score
{
	font-family:ScoreFont;
	font-size:20pt;
	color:white;
	/*background-color: black;*/
	padding-left:5px;
	padding-right:5px;
	text-align:right;
}


@-webkit-keyframes zoom {
    from {
    	-webkit-transform: scale(1,1);
    }
    to {
    	-webkit-transform: scale(1.5,1.5);
    }
}

/* Standard syntax */
@keyframes zoom {
   from {
        transform: scale(1,1);
   }
   to {
        transform: scale(1.5,1.5);
   }
}




.huge
{
	font-size:60vh;
	line-height: 60vh;
	font-family:Raleway;
	color:white;

	text-shadow: 0px 0px 10px #0040A6,
      0px 0px 10px #A60008;
    text-shadow: 20px -20px 0px #0040A6,
                 40px -40px 0px #A60008,
                 60px -60px 0px #00bdbd;
      text-shadow: 0px 20px 0px #e67d24;,
             0px 14px 10px rgba(0,0,0,0.60),
             0px 24px 2px rgba(0,0,0,0.40),
             0px 34px 30px rgba(0,0,0,0.40);
    -webkit-animation: zoom 20s; /* Chrome, Safari, Opera */
    animation: zoom 20s;


    
}
.slide_text
{
	position:relative;
	z-index:1;
	margin-left: 3vh;
	margin-right: 3vh;
	max-height:100vh;
	/*min-height:100vh;*/
	text-align: center;
	vertical-align : middle;
	font-size:35pt;
	top:5vh;
	text-shadow: 0px 2px 2px #000;
}

.resume .slide_text
{
	/*position:absolute;*/
	z-index:1;
	/*min-height:100vh;*/
	text-align: center;
	vertical-align: middle;
	font-size:15pt;
	text-shadow:none;
}

.resume .slide_video
{
	height:50px;
	width:auto;
	volume:0.0;
	z-index:0;

}

.resume .slide_audio
{
	z-index:0;
	volume:0.0;
}

.resume .slide_text
{
	/*position:absolute;*/
	z-index:1;
	/*min-height:100vh;*/
	text-align: center;
	vertical-align: middle;
	font-size:15pt;
}

.resume .slide_image
{
	height:50px;
	width:auto;
	overflow:hidden;
}
.resume .slide_image img, .resume .slide_audio img
{
	height:50px;
	width:auto;
}

.slide_image
{
	position:relative;
	z-index:0;
    max-height:80%;
    max-width:100%;
    height:auto;
    width:auto;
    overflow: hidden;
    top:5vh;
}


.slide_image img {
    max-height:100vh;
    max-width:100vw;
    height:auto;
    width:auto;
    margin:auto;
}


.slide_video
{
	/*position:absolute;
	z-index:0;*/
	max-height:100vh;
	max-width:100vw;
}

.slide_audio
{
	/*position:absolute;
	z-index:0;*/
}

.title
{
	font-family: Budmo,Verdana;
	text-shadow: 10px 10px 5px #0040A6,
      0px 0px 10px #0040A6;
    font-size:30vh;
    position:relative;top:30vh;
    overflow:hidden;

}
 .section_title
 {
 	color:white;
 	font-family: Budmo,Verdana;
	text-shadow: 5px 5px 5px #e67d24,
      0px 0px 20px #e67d24;
      text-transform: uppercase;
    font-size:20vh;
    position:relative;top:50;
    line-height:35vh;
        -webkit-animation: zoom 100s; /* Chrome, Safari, Opera */
    animation: zoom 100s;
 }


a.question:link, a.question:visited { 
    color: grey;
    text-decoration: none;
    cursor: auto;
}

a.question:link:active, a.question:visited:active { 
    color: yellow;
}
a.cur_question:link
{
	color:yellow;
}


.buzz
{
	border-radius: 200px;
	border-style: solid;
	border-width:20px;
	text-align: center;
	vertical-align: middle;
	line-height: 200px;
    font-size: 6.0rem;
    font-weight:bolder;
    background-color: #B03D3B;
    border-color: #8E312F; 
    width:200px;
    color:white;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
    text-shadow: 0px 0px 2px #fff,
      0px 0px 5px #fff;
}
#buzz .inactive
{
    background: white;
    color: red;
}

.team_compo
{
	border-radius: 4px;
	background:#555;
	padding:5px;
	margin-bottom:10px;
}
.player_compo
{
	color:white;
	margin-bottom:0px;
}


input.white
{
	background:white;
}

.section
{
	border-style: none;
	border-color:#999 ;
	border-width:1px;
	background:#555;
	border-radius: 0px;
	padding:5px;

}

#team_form
{
	margin-bottom:0px;
}

#unassigned
{
	background:transparent;
}

.players_list
{
	min-height:50px;
	list-style:none;
	    cursor: default;
    -webkit-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;
}


input.je-dis-oui
{
	background:#8FFFA2;
}

input.je-dis-non
{
	background:#FF978F;
}

.log
{	
	background-color: white;
	width: 95%;
	height: 200px;
	/*border: solid 1px black;*/
	bottom: 10px;
	left: 30px;
	color:#555;
	padding:5px;
	font-size:1rem;
	border-radius: 4px;
	overflow: scroll;
}
#start
{
	width: 120px;
	float:right;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: green;
}

#user_name
{
	padding: 0 15px;
	height:50px;
	line-height: 50px;
	/*color:#C24E47;*/
	color:white;
	background-color:#555; 
	border-radius:4px;
	font-weight:600;
	margin-bottom: 1.5rem;
	font-size:3.5rem;
	
}


.screen_score_row
{
	background-color: #222;
	margin:0;
	padding:0;
		text-shadow: 0px 2px 2px #000;
}


.screen_team_name_1
{
	text-transform: uppercase;
	text-align:center;
	font-size:30pt;
	color:#e67d24;
	/*background-color:#A60008;*/
}

.screen_team_name_2
{
	text-transform: uppercase;
	text-align:center;
	font-size:30pt;
	color:#fcde07;
	/*background-color: #0040A6;*/
}
.screen_score
{

	font-family:ScoreFont;
	font-size:40pt;
	color:white;
	/*background-color: black;*/

	text-align:center;
	margin-top:-10px;
	margin-bottom:-10px;
}


.team_name, .other_team_name, .team_score, .other_team_score
{
	padding: 0 5px;
	height:20px;
	border:none;
	/*line-height: 30px;*/
	color:#999;
	/*background-color:#999; */
	/*border-radius:5px;*/
	/*margin-bottom: 0.5rem;*/
	/*font-size:2rem;*/
	text-align:left;

}
.team_score, .other_team_score
{


}

.team_score, .team_name
{
	/*background-color:#999;*/
	font-weight:600;
	color:white;
}
.team_name
{

}

td.inc_score, td.dec_score
{
    cursor: default;
    -webkit-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;
    padding:2px;
}
td.inc_score
{
    background-color: green;
}
td.dec_score
{
    background-color: red;
}
.joueur
{
	margin: 20px;
	text-align:center;
	padding-top:10px;
	padding-bottom:10px;
	/*
	margin-left: auto;
	margin-right: auto;
	*/
	width: 120px;	
	background-color:white;
}
.hit
{
	background-color:red;
	color:white;
}

.buzzed
{
    /*color:green;*/
    background-color:green;
    font-weight: bold;    
}

.can_answer
{
    font-weight: bold;
}

.cant_answer
{
    text-decoration: line-through;
}

.connected
{
    color: white;
}

.disconnected
{
    color: #999;
}