
body {
  color: #ddd; 
  background-color: #444;
}



body, html
{
	height:100vh;
	max-height:100vh;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#slide
{

}

#slides
{

}

.slide_text
{
	/*position:absolute;*/
	z-index:1;
	max-height:100vh;
	text-align: center;
	vertical-align: middle;
	font-size:35pt;
}

.slide_image
{
	/*position:absolute;*/
	z-index:0;
    max-height:80%;
    max-width:100%;
    height:auto;
    width:auto;
    overflow: hidden;
}


.slide_image img {
    max-height:100vh;
    max-width:100vw;
    height:auto;
    width:auto;
    margin:auto;
}


.slide_video
{
	/*position:absolute;
	z-index:0;*/
	max-height:100vh;
	max-width:100vw;
}

.slide_audio
{
	/*position:absolute;
	z-index:0;*/
}


a.question:link, a.question:visited { 
    color: grey;
    text-decoration: none;
    cursor: auto;
}

a.question:link:active, a.question:visited:active { 
    color: yellow;
}
a.cur_question:link
{
	color:yellow;
}

.buzz
{
	border-radius: 50px;
	border-style: solid;
	border-color:white ;
	border-width:5px;
}
.team_compo
{
	border-radius: 4px;
	background:#555;
	padding:5px;
	margin-bottom:10px;
}
.player_compo
{
	color:white;
	margin-bottom:0px;
}


input.white
{
	background:white;
}

.section
{
	border-style: none;
	border-color:#999 ;
	border-width:1px;
	background:#555;
	border-radius: 5px;
	padding:5px;

}

#team_form
{
	margin-bottom:0px;
}

#unassigned
{
	background:transparent;
}

.players_list
{
	min-height:50px;
	list-style:none;
}


input.je-dis-oui
{
	background:#8FFFA2;
}

input.je-dis-non
{
	background:#FF978F;
}

.log
{	
	background-color: white;
	width: 95%;
	height: 200px;
	/*border: solid 1px black;*/
	bottom: 10px;
	left: 30px;
	color:#555;
	padding:5px;
	font-size:1rem;
	border-radius: 4px;
	overflow: scroll;
}
#start
{
	width: 120px;
	float:right;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: green;
}

#user_name
{
	padding: 0 15px;
	height:50px;
	line-height: 50px;
	/*color:#C24E47;*/
	color:white;
	background-color:#555; 
	border-radius:4px;
	font-weight:600;
	margin-bottom: 1.5rem;
	font-size:3.5rem;
	
}


.team_name, .other_team_name, .team_score, .other_team_score
{
	padding: 0 5px;
	height:20px;
	border:none;
	/*line-height: 30px;*/
	color:#999;
	/*background-color:#999; */
	/*border-radius:5px;*/
	/*margin-bottom: 0.5rem;*/
	/*font-size:2rem;*/
	text-align:left;

}
.team_score, .other_team_score
{


}

.team_score, .team_name
{
	/*background-color:#999;*/
	font-weight:600;
	color:white;
}
.team_name
{

}


.joueur
{
	margin: 20px;
	text-align:center;
	padding-top:10px;
	padding-bottom:10px;
	/*
	margin-left: auto;
	margin-right: auto;
	*/
	width: 120px;	
	background-color:white;
}
.hit
{
	background-color:red;
	color:white;
}