
body {
  color: #ddd; 
  background-color: #444;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.buzz
{
	border-radius: 50px;
	border-style: solid;
	border-color:white ;
	border-width:5px;
}


.log
{	
	background-color: white;
	width: 95%;
	height: 200px;
	/*border: solid 1px black;*/
	bottom: 10px;
	left: 30px;
	color:#555;
	padding:5px;
	font-size:1rem;
	border-radius: 4px;
	overflow: scroll;
}
#start
{
	width: 120px;
	float:right;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: green;
}

#user_name
{
	padding: 0 15px;
	height:50px;
	line-height: 50px;
	/*color:#C24E47;*/
	color:white;
	background-color:#555; 
	border-radius:4px;
	font-weight:600;
	margin-bottom: 1.5rem;
	font-size:3.5rem;
	
}


.team_name, .other_team_name, .team_score, .other_team_score
{
	padding: 0 5px;
	height:20px;
	border:none;
	/*line-height: 30px;*/
	color:#999;
	/*background-color:#999; */
	/*border-radius:5px;*/
	/*margin-bottom: 0.5rem;*/
	/*font-size:2rem;*/
	text-align:left;

}
.team_score, .other_team_score
{


}

.team_score, .team_name
{
	/*background-color:#999;*/
	font-weight:600;
	color:white;
}
.team_name
{

}


.joueur
{
	margin: 20px;
	text-align:center;
	padding-top:10px;
	padding-bottom:10px;
	/*
	margin-left: auto;
	margin-right: auto;
	*/
	width: 120px;	
	background-color:white;
}
.hit
{
	background-color:red;
	color:white;
}