<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Loose yourself to buzz</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/static/skeleton/css/normalize.css">
  <link rel="stylesheet" href="/static/skeleton/css/skeleton.css">
  <link rel="stylesheet" href="/static/css/easyquizz.css">
  <link rel="icon" type="image/png" href="/static/skeleton/images/favicon.png">

</head>
<body>

  <div class="container">
    <h4>{{title}}</h4>
    <div id="name_form">

    <div class="row">
    <div class="six columns" id="user_name">
      Admin
    </div>

    </div>
    <div id="scores">
      <table>
        {% for i,team in enumerate(teams) %}
          {% if team.name == 'unassigned' %}
          {% continue %}
        <tr> <td class="team_name"> {{i}} </td>
          <td class="team_name"> {{ escape(team.name) }} </td>
          <td class="team_score"> {{team.score}} </td>
        </tr>
          {% end %}
        {% end %}

    </table>
    </div>

    
<div id="add_team_form">
    <form action="/game/add_team" method="post" id="team_form">
        <div class="row" >
          <div class="five columns">
            <input type="text" placeholder="The A Team" name="team_name" id="new_team_name">
          </div>
          <div class="one columns">
            <input type='submit' class="button button-primary" value="Add">
          </div>
        </div>
    </form>
</div>
<div id="team_composition">
<div class="row">
  {% for i,team in enumerate(teams) %}
  {% if team.name == 'unassigned' %}

 <div class="four columns team_compo">
   {{ escape(team.name) }}
  <ul id="{{ escape(team.name) }}" class="players_list">
  {% for player in sorted(team.players) %}
  <li class="ui-state-default player_compo"  id="{{ escape(player.name) }}">{{ escape(player.name) }}</li>
 {% end %}

  </ul>
 </div>
 {% end %}
 {% end %}

   {% for i,team in enumerate(teams) %}
  {% if team.name != 'unassigned' %}

 <div class="four columns team_compo">
   {{ escape(team.name) }}
  <ul id="{{ escape(team.name) }}" class="players_list">
  {% for player in sorted(team.players) %}
  <li class="ui-state-default player_compo"  id="{{ escape(player.name) }}">{{ escape(player.name) }}</li>
 {% end %}

  </ul>
 </div>
 {% end %}
 {% end %}


</div>
</div>
<div class="row">
<div class="six columns">
<div id="sections">
  <h4>Questions</h4>
  {% for i,section in enumerate(sections) %}
  <ul class="section">
    {{str(i+1)}}.{{  escape(section.name)}}
    {% for j,question in enumerate(section.questions) %}
    <li style="display:none">{{escape(question.name)}}</li>
    {% end %}
  </ul>
  {% end %}
</div>
</div>
<div class="six columns">
  controls
      <input type='submit' class="button button-primary" value="Reset">
      <input type='submit' class="button button-primary" value="Je dis oui">
      <input type='submit' class="button button-primary" value="Je dis non">

        <div id="log_window" class='log'>
      the log
      </div>
</div>
</div>
    

  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="/static/js/vendor/jquery-2.1.3.min.js"></script>
  <script src="/static/js/common.js"></script>
  <script src="/static/js/admin.js"></script>
    <script src="static/js/vendor/jquery-ui.js"></script>
    <script src="static/js/vendor/jquery.ui.touch-punch.min.js"></script>
  <script>
 
  </script>

  <script src="/static/js/vendor/fastclick.js"></script>
<script type='text/javascript'>
var button = document.querySelector(".fastclick");
new FastClick(button);
</script>

</body>
</html>
