
  <table>
    {% for i,team_ in enumerate(scores) %}
      {% if team_[1] == 'unassigned' %}
      {% continue %}
      {% end %}
      <tr> <td class="other_team_name"> {{i+1}}. </td>
      <td class="other_team_name"> {{ escape(team_[1]) }} </td>
      <td class="other_team_score"> <div class='score'>{{team_[0]}}</div> </td>
      <td class="dec_score" onclick="change_score('{{team_[1]}}',-1);"> -1 </td>
      <td class="inc_score" onclick="change_score('{{team_[1]}}',1);"> +1 </td>
      <td class="dec_score" onclick="change_score('{{team_[1]}}',-5);"> -5 </td>
      <td class="inc_score" onclick="change_score('{{team_[1]}}',5);"> +5 </td>
      <td class="dec_score" onclick="change_score('{{team_[1]}}',-10);"> -10 </td>
      <td class="inc_score" onclick="change_score('{{team_[1]}}',10);"> +10 </td>
      
    </tr>
    {% end %}

</table>
